h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.date {
    margin: 15px;
}

body {
    min-height: 100vh;
    max-height: min-content;
    padding: 0;
    margin: 0;
    background-image: -webkit-linear-gradient(65deg, #EEEEEE 50%, #AAD8D3 50%);
}

body.Work {
    background-image: -webkit-linear-gradient(65deg, #EEEEEE 50%, #d8bcaa 50%);
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
}

section {
    min-height: 100vh;
    max-height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    margin: 5rem 0;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 786px) {
    .content-container {
        width: 30rem;
    }
}
@media (max-width: 576px) {
    .content-container {
        width: 20rem;
    }
}


.list-section {
    width: 100%;
}

.card-container {
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.text {
    flex: 14;
    margin: 1rem 0.5rem;
    font-size: 1rem;
}

.checkbox {
    flex: 1;
    margin: 1rem;
}


form.items {
    width: 100%;
    display: flex;
    justify-content: end;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: white;
}

.text-input {
    text-align: center;
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

button {
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    border: none;
    text-align: center;
    background-color: #00b2b5;
}

button.Work {
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    border: none;
    text-align: center;
    background-color: #b56400;
}


#list-links {
    position: absolute;
    margin: 2rem;
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}